* {
    margin: 0;
}

.main {
    background-color: orange;
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
}

@media print {
    .main {
        /* background-color: rgb(255, 0, 128); no toma fondos porque es para imprimir*/
        color: snow;
        font-size: 10em;
    }
}

@media screen and (min-width: 768px) {
    .main {
        background-color: blue;
        color: snow;
    }
}

@media screen and (min-width: 1024px) {
    .main {
        background-color: red;
        color: snow;
    }
}